VITE_SUPABASE_URL=https://hvmifzxnocavrqstcbtx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2bWlmenhub2NhdnJxc3RjYnR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxMDA5NzIsImV4cCI6MjA5ODY3Njk3Mn0.NnMfmN7HXtadEotElGcJdEEJtPiQsdN0VL6YqMVMIs4
